* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    font-family: 'segoe ui';
    background-color: #fcfcfc;
}

nav {
    width: 100%;
    background-color: #0fc9e7;
    border-bottom: 10px solid #4756ca;
    box-shadow: aqua;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    padding: 6px;
    padding-top: 14px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    background-color: #0fc9e7;
    display: inline;
    font-size: 24px;
    z-index: 3;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #fcfcfc;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

.memeGallery {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
}

.memeGallery img{
    cursor: pointer;
}

.generator {
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

.imageEdit {
    display: flex;
    background-color: rgb(252, 255, 91);
    width: 30vw;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.lineControl {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.textControl {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    width: 48px;
    height: 48px;
    /* background: linear-gradient(to bottom, #3186b2 0%, #4756ca 100%); */
    background-color: rgb(255, 208, 0);
    border-radius: 5px;
    border-bottom: 4px solid #404547;
    color: #000000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    margin: 2px;
    transform: scale(1, 1);
}

button:active {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .2);
    top: 1px;
}

button:hover {
    transform: scale(1.1, 1.1);
}

.publish button {
    display: block;
    width: 200px;
    margin: 20px;
}

footer {
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: linear-gradient(#fcfcfc 0%, #0fc9e7 50%);

}

@media (max-width:880px) {
    .memeGallery {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width:700px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
        margin: 10px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 81px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .memeGallery {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }

    .myCanvas {
        margin: 0;
    }
     
    .generator {
        flex-flow: column nowrap;
        background-color: rgba(252, 255, 91, 0.8);
        max-width: 450px;
    }

    .imageEdit {
        text-align: -webkit-center;
        display: contents;
        margin: 0 auto;
        width: 84vw;
    }

    button {
        width: 45px;
        height: 45px;
    }

    .publish button {
        display: block;
        width: 150px;
        margin: 10px;
    }
}


@media (max-width:450px) {
    .memeGallery {
        grid-template-columns: repeat(1, 1fr);
    }
}
